body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*styles for header section*/
.top-container{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    /* justify-content: center; */
}
.top-text-header{
    margin-bottom: 32px;
    margin-top: 2px;
}
.top-text{
    padding-top: 200px;
    padding-left: 240px;
}
.top-image{
    padding-top: 50px;
    padding-right: 250px;
    padding-left: 100px;
    width: 635px;
    height: 800px;
}
h1{
    color: #272727;
    font-size: 80px;    
    font-weight: 700;
}
.top-text-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    width: 634px
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;   
    padding: 20px 45px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none
}
